.cue-box-wrap {
  width: 200px;
  height: 200px;
  color: #6E6E6E;
  border: solid #cdcdcd 1px;
  margin-top: 5px;
}

.cue-header-wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20%;
  background-color: #f1f1f1;
}

.cue-header-value-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 10px;
}

.cue-header-more-icon:hover{
  cursor: pointer;
}

.hiddenArrow {
  visibility: hidden;
}

.cue-body-wrap {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  height: 60%;
  justify-content: center;
  align-items: center;
}

.cue-body-bigValue {
  text-align: center;
  font-size: 44px;
  margin-top: 10px;
}

.blue {
  color: #6a92cf;
}

.red {
  color: #E16D67;
}

.yellow {
  color: #F1B459;
}

.grey {
  color: #77888F;
}

.cue-body-bigValue-info {
  margin-top: 10px;
}

.cue-footer-wrap {
  background-color: #f1f1f1;
  width: 100%;
  height: 20%;
  font-size: 14px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

.cue-footer-wrap > * {
  padding-right: 5px;
  padding-left: 5px;
}

.cues {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
}
