<div class="wrapper">
  <div class="left-nav-wrapper">
    <div routerLink={{logoPath}} class="logo-wrap">
      <div class="logo-box">
        <div class="logo-f">F</div>
      </div>
      <div class="logo-text">FUSE</div>
    </div>
    <div class="left-nav">
      <app-menu></app-menu>
    </div>
  </div>
  <div class="main">
    <div class="top-bar">
      <div class="top-bar-leftSide">
        <div class="top-bar-icon">
          <i class="material-icons">menu</i>
        </div>
        <div class="top-bar-search-wrap">
          <div class="top-bar-icon">
            <i class="material-icons">search</i>
          </div>
          <div class="top-bar-search-box">
            Click and type to search anywhere
          </div>
        </div>
      </div>
      <div class="top-bar-rightSide">
        <div class="top-bar-userInfo-wrap">
          <div class="top-bar-icon">
            <i class="material-icons">account_circle</i>
          </div>
          <div class="top-bar-user-name">
            John Doe
          </div>
          <div class="top-bar-arrow">
            <i class="material-icons">arrow_drop_down</i>
          </div>
        </div>
        <div class="top-bar-language-wrap">
          <div class="top-bar-language-code">
            EN
          </div>
          <div class="top-bar-arrow">
            <i class="material-icons">arrow_drop_down</i>
          </div>
        </div>
        <div class="top-bar-icon">
          <i class="material-icons">developer_board</i>
        </div>
      </div>
    </div>
    <div class="content-wrapper">
      <div class="component-wrapper">
        <router-outlet></router-outlet>
      </div>
      <div class="right-nav">
        <app-rightnav></app-rightnav>
      </div>
    </div>
  </div>
</div>
