.wrapper {
  min-height: 100%;
  flex-basis: 100%;
  display: flex;
}

.left-nav-wrapper {
  width: 200px;
  min-width: 200px;
  min-height: 100%;
  height: auto;
  background-color: #3C4252;
}

.main {
  min-height: 100%;
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
}

.top-bar {
  display: flex;
  font-size: 14px;
  width: 100%;
  min-width: 525px;
  height: 40px;
  min-height: 40px;
  justify-content: space-between;
  background-color: white;
  color: #a0a0a0;
  border-bottom: solid #d6d6d6 1px;
}

.top-bar * {
  display: flex;
  flex-flow: nowrap row;
  align-items: center;
}

.top-bar-leftSide {
  width: 80%;
}

.top-bar-search-wrap {
  width: 100%;
  border-left: solid 1px #d6d6d6;
}

.top-bar-search-box {
  font-size: 12px;
}

.top-bar-rightSide {
  min-width: 250px;
  justify-content: flex-end;
}

.top-bar-leftSide > div, .top-bar-rightSide > div {
  height: 100%;
}

.top-bar-icon {
  width: 40px;
  min-width: 40px;
  justify-content: center;
  display: flex;
}

.top-bar-icon:hover {
  cursor: pointer;
}

.top-bar-language-code, .top-bar-user-name {
  color: #6e6e6e;
}

.top-bar-userInfo-wrap {
  border-right: solid 1px #d6d6d6;
}

.top-bar-language-wrap {
  margin-left: 10px;
  border-right: 1px solid #d6d6d6;
}

.content-wrapper {
  width: 100%;
  min-width: 525px;
  height: 100%;
  background-color: #f1f1f1;
  display: flex;
  flex-direction: row;
}

.component-wrapper {
  width: 100%;
  background-color: white;
  min-width: 450px;
  height: 100%;
}

.right-nav {
  width: 275px;
  min-width: 275px;
  background-color: #eeeeee;
  height: auto;
  min-height: 100%;
}

.logo-wrap {
  background-color: #495062;
  font-size: 14px;
  height: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #f1f1f1;
}

.logo-wrap:hover {
  cursor: pointer;
}

.logo-box {
  width: 25px;
  height: 25px;
  background-color: #58ACF2;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  margin-left: 10px;
}

.logo > * {
  color: white;
  font-family: "Bauhaus 93";
  text-decoration: none;
}

.left-nav {
  background-color: #3C4252;
}

