<div class="github-wrapper">
  <div class="github-header-wrap">
    <div class="github-header-content">
      <div class="github-header">GitHub</div>
      <i class="material-icons">more_vert</i>
    </div>
    <div class="github-menu-wrap">
      <app-component-menu menuItemsClass="darkBlue-bottom" [menuItems]="menuItems"></app-component-menu>
    </div>
  </div>
  <div class="github-body-wrap">
    <div class="github-body-header-wrap">
      <div class="github-body-header">Backend App Issues</div>
      <div class="github-body-menu">
        <div class="github-body-menu-item">1 WEEK</div>
        <div class="github-body-menu-item">2 WEEKS</div>
        <div class="github-body-menu-item">1 MONTH</div>
      </div>
    </div>
    <div class="github-graphPart">
      <div class="github-body-graph-wrapper">
        graph
      </div>
      <div class="github-body-info-wrapper">
        info
      </div>
    </div>
  </div>
</div>
